@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
	font-family: 'Indie Flower';
	font-size: 25px;
}

span {
	color: red;
	font-size: 25px;
}

.about-row {
	height:500px;
}

h1 {
	font-family: 'Indie Flower';
}

.image {
	position: relative;
	width: 100%;
}

.glasses {
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.hello1 {
	font-size: 45px;
	padding-top: 40px;
	
}

.hello2 {
	font-size: 65px;
	padding-bottom: 20px;

}

.containerone {
	padding-bottom: 60px;
	margin-top: -60px;
	background-image: url(http://images.clipartpanda.com/nerd-glasses-wallpaper-untitled_drawing_by_skygrl98-d5q02gl.png);
	background-repeat: repeat-y;
	background-position: center;
	backface-visibility: 0.5;
	background-size: 50%;

}

section > .container {
	padding-top: 80px;
	padding-bottom: 50px;
	min-height: 300px;
	text-align: center;
}

.contact-section {
	padding-top: 20px;
	padding-bottom: 50px;
}


